.back{
    height: 90vh;
    padding: 30px;
}

.button{
    border: 0px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.countyImage{
    width: 40%;
    height: 40%;
    
}

.imgIndi{
    display: flex;
    margin-top: 7%;
    justify-content: space-around;
}

.titleIndi{
    display: flex;
}

.m{
    margin-left: 30px;
}

.backArrowImg{
    width: 20px;
    margin-right: 10px;
}

.individualBackground{
    background-color: hsl(207, 26%, 17%);
}

.individualText{
    color: hsl(0, 0%, 100%);
}

.backButton{
    background-color: hsl(209, 23%, 22%);
    color: #ffffff;
}

.c{
    color: #ffffff; 
}
