.head{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    padding: 5px 50px 5px 50px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    width: 25px;
    height: 25px;
    font-weight: 900;
    margin-right: 10px;
}

.heading{
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: -1x;
}

.label{
    font-size: 14px;
    font-weight: 600;
}

.stylesh1{
    color: #ffffff;
}

.ul{
    display: flex;
}
.link{
    text-decoration: none;
    margin-right: 15px;
}

.background{
    background-color: hsl(209, 23%, 22%);
    color: #ffffff;
}


