.main{
    padding: 15px 30px 15px 30px;
}

.input{
    width: 350px;
    height: 50px;
    border-radius: 6px;
}

.select{
    width: 140px;
    height: 50px;
    padding-left: 10px;
    margin-right: 10px;
}

.region{
    display: flex;
    justify-content: space-between;
    
}

.country{
    margin-top: 40px;
}

.icon {
    background: url('../../assets/search.svg') no-repeat left;
    background-size: 20px;
    padding-left: 22px;
}


@media screen and (max-width:360px){
    .input{
        width: 200px;
    }
    .select{
        width: 80px;
    }
}

.p{
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    color: grey;
    letter-spacing: -2px;
}

.spinner{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.darkBodyBackground{
    background-color: hsl(207, 26%, 17%);
}

.inputDark{
    color: hsl(0, 0%, 100%);
}
