.imgIndividual{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 320px;
    border-radius: 10px;
}

.titleContainer{
    padding: 20px;
}

.grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:60px;
}

.span{
    font-weight: 200;
    font-size: 15px;
    padding-left: 10px;
}

.h1{
    font-size: 20px;
    font-weight: 900;
}

.img1{
    width: 100%;
    height: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.link1{
    color: black;
    text-decoration: none;
}

.darkTextColors{
    color: hsl(0, 0%, 100%);
}